body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #5081af;
  color: white;
}

/* Change font size of headings */
h1 {
  background-color: aqua;
  color: black;
  font-size: 250%;
}

/* Change the margin */
h2 {
  border-bottom: 3px solid #13293d;
  margin: 2% 0;
  font-size: 200%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  padding: 2px;
}

nav a {
  font-size: 100%;
  color: black;
  text-decoration-color: aqua;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  flex: 1 1 0;
  max-width: 1200px;
  margin: 5% auto;
}

.subtitle {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url(./assets/images/TinyEric.jpg);
  background-size: cover;
  background-position: center;
}

.subtitle h1 {
  display: flex;
  justify-content: center;
  margin-right: 0%;
  margin-left: 0%;
}

section {
  flex: 1 1 0;
  padding-right: 0;
}

article {
  padding: 12px 12px 0 0;
}

article p {
  margin: 2% 0;
  font-size: 110%;
  padding-right: 5%;
}

article ul {
  margin-left: 5%;
  margin-bottom: 2%;
  font-size: 110%;
  list-style: circle;
}

button {
  width: 100%;
  margin: 2% 0;
  padding: 1%;
}

.link {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  align-items: center;
}

button {
  width: 100%;
  margin: 0 .5%;
  font-size: 200%;
  color: #13293d;
  background-color: #fff;
  border: none;
  border-bottom: 3px solid #772014;
}

/* The user's cursor is positioned over the element */
button:hover {
  background-color: #772014;
  color: #fff;
}

a:hover{
  background-color: aqua;
  padding: 2px;
}

.link .r1{
  background-image: url(/assets/images/Tiny\ Eric.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.contacts ul {
  text-decoration: none;
}

.contacts a {
  color: black;
}

@media screen and (min-width: 768px) {
  header,
  .main {
    flex-direction: row;
  }

  h2{ 
    display: block;
    height: 100%;
  }

  .link {
    display: flex;
    flex-direction: row;
    margin-right: 10%;
  }
  
  .link button {
    display: flex;
    justify-content: space-between;
    width: 20%;
  }
  
  .link .r1 button {
    width: 100%;
  }

  .contacts ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
  } 
}

@media screen and (min-width: 992px) {
  .main{
    margin: 2%;
  }
}